@page "/"

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<SearchBarComponent></SearchBarComponent>
<br>

<p>This also shows the latency of blazor server vs blazor WASM</p>
<StopWatchComponent></StopWatchComponent>
